extends layout

block content
  body
    #controls
      #cont_twitter
        input(type="text", id="inp_search", name="search_field", placeholder="Search for phrase or word")
        input(type="button", value="Search", onclick="sendRequest()")
    #bubble-chart
    #information
    
    script(src='/javascripts/index.js')
    //- script.
    //-   d3.queue()
    //-   .await(createBubbleChart);
