extends layout

block content
  body
    #controls
    input(type="text", id="inp_name" placeholder="Bubble name")
    input(type="number", id="inp_number", value="10")
    input(type="number", id="inp_growth", value="1")
    input(type="button", value="Add bubble", onclick="createCircle()")
    #bubble-chart
    script(src='/javascripts/index.js')
    //- script.
    //-   d3.queue()
    //-   .await(createBubbleChart);
