doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://d3js.org/d3.v3.min.js')
    script(src='https://d3js.org/d3-queue.v3.min.js')
    title D3 Country Bubble Chart
  body
    block content
